* {
	font-family: 'Roboto', sans-serif;
}

header {
	position: relative;
	height: 50px;
}

nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background: #212121;
	z-index: 2;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
}

.menu .menu__link {
	font-weight: 300;
	font-size: 16px;

	display: flex;
	align-items: center;

	color: #FFFFFF;

	text-decoration: none;
}

.menu .menu__link:hover {
	text-decoration: underline;
}

.menu .menu__item {
	border-right: 1px dashed #000000;
	padding-right: 25px;
}

.menu .menu__item:last-child {
	border-right: none;
}

.subheader {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 87px;
	mix-blend-mode: normal;
	background-color: rgba(0,0,0, 0.6);
}

.subheader .subheader__logo {
	display: block;
	min-width: 100%;
	margin-top: 17px;
}

.subheader .subheader__official {
	margin-top: 5px;
	font-weight: 200;
	font-size: 13px;
	opacity: .4;

	color: #FFFFFF;
}

.subheader .subheader__call {
	margin-top: 19px;
	font-weight: 300;
	font-size: 12px;
	text-align: right;

	color: #FFFFFF;
}

.subheader .subheader__phone {
	display: block;
	margin-top: 8px;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 12px;
	text-transform: uppercase;
	text-align: right;
	text-decoration: none;

	color: #FFFFFF;
}

.subheader .subheader__btn {
	margin-top: 19px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;

	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);


	width: 172px;
	height: 46px;

	background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
	box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;

	border: none;
	outline: none;
}

.promo {
	padding: 150px 0 135px 0;
	min-height: 800px;
	background: url('../bg/uber_bg.png') center center/cover no-repeat;
}

.promo .promo__header{
	margin: 0;
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
}

.promo .promo__subheader {
	margin: 0;
	margin-top: 22px;
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
}

.promo .promo__descr {
	margin-top: 23px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	text-align: center;

	color: #FFFFFF;
}

.promo .promo__btn {
	display: block;
	margin: 116px auto 0 auto;
	width: 259px;
	height: 63px;

	background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
	box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	outline: none;

	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;

	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}


.reasons {
	padding: 18px 0 64px 0;
}

.reasons .lable {
	margin: 0 auto;
	padding: 5px 12px;
	padding-top: 4px;
	width: 113px;
	height: 24px;

	background: #000000;

	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;

	color: #FFFFFF;

	mix-blend-mode: normal;
}

.reasons .title {
	margin-top: 33px;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 38px;
	text-align: center;
	text-transform: uppercase;

	color: #222222;
}

.reasons .reasons__block{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

.reasons .reasons__block .reasons__round {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 25px;
	width: 116px;
	height: 116px;
	background-color: #1eacc7;
	border-radius: 100%;
}

.reasons .reasons__block .reasons__descr {
	width: 350px;
}

.reasons .reasons__block .reasons__descr .reasons__subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 21px;

	color: #1EACC7;
}

.reasons .reasons__block .reasons__descr .reasons__text {
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 21px;

	color: #202020;
}




